### Q1...... Write a Python program to remove duplicates from a list.

In [9]:
l=[10,20,10,30,30,40,40,50]
li=[]
for i in l:
    if i not in li:
        li.append(i)
print("remove diplicates number in list:",li)

remove diplicates number in list: [10, 20, 30, 40, 50]

### Q2..... Write a Python program to combine two dictionary adding values for common keys
### d1 = {'a': 100, 'b': 200, 'c':300}
### d2 = {'a': 300, 'b': 200, 'd':400}
### Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [10]:
d1={'a':100,'b':200,'c':300}
d2={'a':300,'b':200,'d':400}
for key in d1:
    if key in d2:
        d2[key]=d1[key]+d2[key]
    else:
        d2[key]=d1[key]
print(d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

# Q3....Write a Python program to convert a tuple to a string.

In [2]:
tuple=('L','A','V','K','U','S','h','k','u','m','a','r',)
str=""

for i in tuple:
 str+=i
print(str)

LAVKUShkumar

### Q 4.......Write a Python program to remove item(s) from set

In [19]:
s={2,4,6,8,10,12,14}
print("original set",s)
s.remove(12)
print("after removing",s)

original set {2, 4, 6, 8, 10, 12, 14}
after removing {2, 4, 6, 8, 10, 14}

### Q5.... Write a Python program to create a symmetric difference

In [20]:
s1={1,2,3,4,5,6,7,8}
s2={2,4,6,8}
intersection=s1.intersection(s2)
union=s1.union(s2)
symmetric_difference=union.difference(intersection)
print(symmetric_difference)

{1, 3, 5, 7}

### Q6.....Write a Python program to construct the following pattern, using a nested for loop.
### *
### *
### *
### *
### *

In [21]:
n=5
for i in range(n):
    for j in range(1):
        print('*')
    print(' ')

*

*

*

*

*

### Q7.... Write a Python program to get the Fibonacci series between 0 to 50.

In [22]:
j=0
k=1
l=0
count=100
list=[j,k]
for i in range(count):
        l=j+k
        if(l<51):
            list.append(l)
            j=k
            k=l
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]